@import "variables/variables.scss";
@import "mixins/mixins.scss";

header {
    background-color: red;

    ul {
        background-color: green;

        @include myMedia(1350px) {
            background-color: #5b42f3;
        }

        @include myMedia(1000px) {
            background-color: #ffea00;
        }

        li {
            font-size: $font-size + 10;

            @include myMedia(1350px) {
                background-color: green;
            }
    
            @include myMedia(1000px) {
                background-color: violet;
            }

            &:first-child {
                background-color: blue;
            }

            a {
                color: red;
            }

        }
    }
}

.btn {
    @include btn()
}

.btn1 {
    @include btn($_color1, $_color2, $_color3);
}
   
@for $n from 1 through 100
{
    .color#{$n}
    {
        background-image: url(img/photo#{$n}.jpg);
    }
}